[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = almeidaraphael@outlook.com.br
	name = Raphael de Almeida
[core]
	editor = micro
[alias]
	graph = log --oneline --graph --decorate --all
