.notification-center-cardprog-separator,
.notification-center-cardradial-separator,
.notification-center-cardimage-separator {
  opacity: 0.0;
}

.notification-center-cardimage-close-icon {
  font-size: 18px;
  padding: 0 5px;
}
// vim:ft=scss
