.notification-center-stats-crit-box,
.notification-center-stats-norm-box,
.notification-center-stats-low-box {
  background-color: $shade06;
  border-radius: 3em;
  margin: 0 1em 0 1em;
  padding: 0.8em;
}

.notification-center-stats-crit,
.notification-center-stats-norm,
.notification-center-stats-low {
  background-color: $shade03;
}

.notification-center-stats-crit {
  color: $base11;
}

.notification-center-stats-low {
  color: $base14;
}

.notification-center-stats-norm {
  color: $base09;
}

.notification-center-stats-crit-label,
.notification-center-stats-norm-label,
.notification-center-stats-low-label {
  padding: 0.9em 0.9em 0.9em 0.83em;
  font-size: 23;
  font-weight: bold;
  background-color: $shade07;
}

.notification-center-stats-crit-info-value {
  font-size: 20;
  font-weight: bold;
  color: $base11;
}

.notification-center-stats-norm-info-value {
  font-size: 20;
  font-weight: bold;
  color: $base09;
}

.notification-center-stats-norm-info-box,
.notification-center-stats-norm-info-box,
.notification-center-stats-norm-info-box {
  padding: 0 0.8em 0 1em;
}

.notification-center-stats-low-info-value {
  font-size: 20;
  font-weight: bold;
  color: $base14;
}

.notification-center-stats-low-info-label,
.notification-center-stats-norm-info-label,
.notification-center-stats-crit-info-label {
  color: $base15;
}

.notification-center-stats-separator {
  font-size: 1;
  background-color: $shade02;
  padding: 1em;
  margin-left: 15em;
}

// vim:filetype=scss
